Name:                <moduletitle>
Version:             <version>
Synopsis:            <synopsis>
Description:         
<description>
	
License:             OtherLicense
License-file:        LICENSE
Author:              Peter Althainz
Maintainer:          althainz@gmail.com
Build-Type:          Simple
Cabal-Version:       >=1.4
Homepage:            <homepage>
Category:            <category>
Extra-source-files:  <extraSourceFiles>

Library
  Build-Depends:     <buildDepends>

  Exposed-modules:   <exposedModules>
  Other-modules:     

  ghc-options:       
  cc-options:        -Wno-attributes 
  hs-source-dirs:    .
  Include-dirs:      include
  Build-tools:       
  build-depends:     
  extra-libraries:   
