#
#	HGamer3D Library (A project to enable 3D game development in Haskell)
#	Copyright 2015 Peter Althainz
#	
#	Distributed under the Apache License, Version 2.0
#	(See attached file LICENSE or copy at 
#	http://www.apache.org/licenses/LICENSE-2.0)
# 
#	file: .gitignore

gamegio-build

src/.stack-work

samples/.stack-work
samples/*.exe
samples/*.log
samples/Samples
samples/Samples.exe

samples/Billion
samples/Cuboid2
samples/SoundEffects
samples/RotatingCube
samples/RotatingCube2
samples/SpaceInvaders
samples/Gui1
samples/Materials
samples/Mouse
samples/TestDel

