#
#	HGamer3D Library (A project to enable 3D game development in Haskell)
#	Copyright 2015 Peter Althainz
#	
#	Distributed under the Apache License, Version 2.0
#	(See attached file LICENSE or copy at 
#	http://www.apache.org/licenses/LICENSE-2.0)
# 
#	file: .gitignore

gamegio-build
haskell/src/.stack-work
haskell/samples/.stack-work

haskell/samples/*.exe
haskell/samples/*.log

