#
#	HGamer3D Library (A project to enable 3D game development in Haskell)
#	Copyright 2015 Peter Althainz
#	
#	Distributed under the Apache License, Version 2.0
#	(See attached file LICENSE or copy at 
#	http://www.apache.org/licenses/LICENSE-2.0)
# 
#	file: .gitignore

build
components/build
*/.stack-work
hgamer3d/CMakeLists.txt
hgamer3d/HGamer3D.cabal
.doit.db
.directory
*.pyc
hgamer3d.log

