<license>

# scons file to build <project-name> library, version <version>

# set environment
#################
from os.path import expanduser, exists
import os, sys
home = expanduser("~")
env = Environment() 
env["ENV"]["PATH"] = os.environ.get("PATH")
env["ENV"]["HOME"] = os.environ.get("HOME")


libpath = home + "/.HGamer3D/lib"

# environment
env = Environment() 
if env["PLATFORM"] == "win32":
   env = Environment(TARGET_ARCH="x86", MSVC_VERSION="10.0") 
   env.MergeFlags({"CCFLAGS" : "/DWIN32 /D_WIN32 /DHGamer3DOgre022_EXPORTS /EHsc /MD"})

# env["ENV"]["PATH"] = os.environ.get("PATH")

# include path, libpath
env.Append(CPPPATH=["../deps/include/BuildConfig","../deps/include/OgreMain",<include-dirs>])
env.Append(LIBPATH=["../deps/lib",<lib-dirs>])

# target
lib = env.SharedLibrary("<library-name>", [<c-files>], LIBS = [<add-dlls>])

# install in lib folder
env.Alias('install', libpath)
env.Install(libpath, lib)

